* {
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 100px auto;
    border: 1px solid #d3d3d3;
    padding-bottom: 50px;
    box-shadow: 10px 10px 47px -15px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
}

.notes-container {
    margin: 0 16px;
}

.header {
    display: flex;
}

#list {
    border-top: 1px solid #ededed;
}

#notesInput {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #efefef;
    flex: 1;
}

#saveButton {
    padding: 10px;
    background-color: #668cff;
    color: #fff;
    border-radius: 3px;
    margin-left: 12px;
    min-width: 120px;
}

h1 {
    text-align: center;
    font-family: "Arial", Verdana, Sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    border-radius: 3px;
}

.note {
    position: relative;
    font-size: 25px;
    text-align: center;
    display: flex;
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
    border-bottom: 1px solid #ededed;
    align-items: center;
}

.note,
.note-content {
    flex: 1;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.delete-btn {
    background-color: #668cff;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 16px;
}

#filterList {
    display: flex;
    justify-content: center;
}

.filter {
    margin: 10px;
    padding: 5px;
    background-color: white;
    color: #668cff;
    border: 1px solid #668cff;
    border-radius: 3px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}

.selected {
    background-color: #668cff;
    color: #fff;
}

.note-done {
    text-decoration: line-through;
}